/* App.css */
.layout {
  min-height: 100vh;  /* 确保最小高度覆盖视口高度 */
  display: flex;
  flex-direction: column;
}

.header, .footer {
  color: #fff;
  background-color: #001529;  /* 深蓝色，与 Ant Design 主题一致 */
}

.logo img {
  max-height: 64px;
  width: auto;
}

.content {
  flex: 1;
  padding: 20px;  /* 给内容区域添加一些内边距 */
  background: #fff;  /* 白色背景 */
}

.footer {
  text-align: center;
  padding: 10px 0;
}

/* 自定义 Carousel 的滑动点样式 */
/* App.css */
.ant-carousel .slick-dots li button {
  background-color: #1890ff; /* Ant Design 蓝色 */
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #ff4ddb; /* Ant Design 红色 */
}
